body {
  text-rendering: optimizeLegibility;
}

div#diverseTraining {
  background-image: url('../img/diverse-training.jpg');
}

body, .owl-carousel, .owl-item, .content, .content-wrap {
  height: 1920px !important;
  width: 1080px !important;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
}

.welcomeFormat,
.disclaimerFormat,
.dewFormat {
  height: 1920px !important;
}

.oc-item h2 span,
.oc-item li span {
  color: #ffd530 !important;
}

h2 span.kerning-closer {
  margin-left: -.1em;
  color: inherit !important;
}

div.mfp-content {
  height: 90%;
}

div.line {
  margin: 0;
  padding: 0;
  border-top-width: 2px;
  border-top-color: rgba(255, 255, 255, .8) !important;
  width: 1300px;
  left: -90px;
}

.portfolio-image img {
  height: 100%;
}

/* Standard - JW
-----------------------------------------------------------------*/

.portfolio-text-container {
  position: absolute;
  background: #000;
  border-radius: 0 40px 40px 0;
  z-index: 99;
  left: 0;
  top: 4%;
  padding: 40px;
  width: 96% !important;
}

.standardFormat .portfolio-text-container h2 {
  margin-left: -1080px;
  font-weight: 400;
}

.standardFormat .portfolio-text-container p {
  opacity: 0;
}

.portfolio-text-container h2 {
  font-size: 95px;
  text-transform: uppercase;
  line-height: 1em;
}

.portfolio-text-container p {
  margin-top: 20px;
  font-size: 38px;
}

.portfolio-text-container .image-footer {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.portfolio-text-container img.social-icons {
  max-width: 260px;
}

.portfolio-text-container img.army-logo {
  max-width: 160px;
}


/* Welcome - JW
-----------------------------------------------------------------*/
.welcome-image {
  max-width: 300px;
  margin: 70px auto 120px auto;
}

.welcome-text-container {
  position: absolute;
  background: #000;
  z-index: 99;
  padding: 40px;
  height: 100%;
  width: 100%;
}

.welcome-text-container h2 {
  font-size: 120px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 80px auto;
  font-weight: 400;
}

.welcome-header {
  color: #FFFFFF!important;
}

.welcome-text-container p.date {
  text-align: center;
  font-size: 70px;
}

.welcome-text-container .image-footer {
  width: 100%;
  position: absolute;
  bottom: 60px;
}

.welcome-text-container img.social-icons {
  max-width: 290px;
  display: block;
  float: left;
  margin-top: 2.5%;
  margin-left: 20px;
}

span.go-army {
  font-family: 'Interstate', 'Crete Round', sans-serif !important;
  color:#ffd530;
  font-weight: bold;
  display: block;
  position: absolute;
  right: 100px;
  font-size: 70px;
}

/* Disclaimer - JW
-----------------------------------------------------------------*/
.disclaimer-image {
  max-width: 160px;
}

.disclaimer-text-container {
  position: absolute;
  background: #000;
  z-index: 99;
  padding: 60px;
  height: 100%;
  width: 100%;
}

.disclaimer-text-container h2 {
  font-size: 100px;
  text-transform: uppercase;
  line-height: .9em;
  margin: 80px auto;
  font-weight: 400;
}

.disclaimer-text-container ul {
  margin-left: .4em;
  font-size: 40px;
  text-transform: uppercase;
  list-style-type: none;
  list-style-position: inside;
}

.disclaimer-text-container ul li {
  line-height: 1em;
  text-indent: -.5em;
  margin-bottom: 50px;
}

.disclaimer-text-container ul li span {
  color: #ffd530;
}

.disclaimer-text-container ul li span.subscript {
  font-size: 50%;
}

.disclaimer-text-container ul li:before {
  color: #ffd530;
  content: "- ";
}

/* Challenge - JW
-----------------------------------------------------------------*/
.challenge-image {
  float: left;
  max-width: 80px;
  margin-right: 30px;
}

.challenge-text-container {
  position: absolute;
  background: #000;
  z-index: 99;
  padding: 60px;
  height: 100%;
  width: 100%;
}

.challenge-text-container h2 {
  font-size: 85px;
  margin-top: 15px;
  text-transform: uppercase;
  line-height: .9em;
  font-weight: 400;
}

.challenge-text-container p.subtitle {
  font-size: 35px;
  text-align: center;
}

.challenge-text-container ul {
  margin-left: .4em;
  font-size: 40px;
  text-transform: uppercase;
  list-style-type: none;
  list-style-position: inside;
}

.challenge-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

.challenge-item-copy {
  display: flex;
  flex-direction: row;
}

.col-a,
.col-b {
  display: flex;
  flex-direction: column;
}

.col-a {
  flex: 5;
}

.col-b {
  flex: 3;
}

.col-a p,
.col-b p {
  width: 100%;
}

.challenge-item h3 {
  clear: both;
  width: 100%;
  display: block;
  color: #ffd530 !important;
  font-size: 50px;
  text-transform: uppercase;
  text-indent: -20px;
}

.challenge-item p {
  font-size: 35px;
  margin: 0 30px;
}

.challenge-item .challenge-animation-wrap {
  margin: 0 40px;
}

/* Dev Menu - JW
-----------------------------------------------------------------*/

#hiddenButton {
  z-index: 999;
  position: fixed;
  height: 90px;
  width: 90px;
  bottom: 0;
  left: 0;
}

/* Dew Tour - JW
-----------------------------------------------------------------*/

/* Geometry Positioning */

.dewFormat .geometry-container img.geometry {
  position: absolute;
  display: block;
  z-index: 1;
  /* Make image initial size */
  width: initial;
  max-width: 100%;
  height: auto;
}

.dewFormat .geometry-container img.geometry.y1 {
  top: -600px;
  left: -600px;
}

.dewFormat .geometry-container img.geometry.y2 {
  top: 600px;
  right: -800px;
}

.dewFormat .geometry-container img.geometry.y3 {
  z-index: 5;
  bottom: -8px;
  left: -900px;
}

.dewFormat .geometry-container img.geometry.y4 {
  bottom: 0px;
  right: -500px;
}

/* Fast Moving Polygon */
.dewFormat .geometry-container img.geometry.y5 {
  width: 2216px;
  max-width: none;
  height: auto;
  bottom: -500px;
  left: -2500px;
  z-index: 50;
}

/* Big Black Polygon */
.dewFormat .geometry-container img.geometry.b1 {
  top: -900px;
  left: 18px;
  z-index: 8;
}

/* Lil Black Polygon */
.dewFormat .geometry-container img.geometry.b2 {
  z-index: 9;
  bottom: -8px;
  right: -8px;
}

/* Big White Polygon */
.dewFormat .geometry-container img.geometry.w2 {
  top: -900px;
  left: -10px;
}

/* Lil White Polygon */
.dewFormat .geometry-container img.geometry.w1 {
  bottom: 360px;
  left: -40px;
}

/* Container styling */

.dewFormat {
  background-color: #fff;
}

.dewFormat .geometry-container {
  height: 1920px;
  width: 1080px;
}

.dew-text-container {
  position: absolute;
  background: transparent;
  z-index: 99;
  left: 0;
  top: 4%;
  padding: 40px;
  width: 96% !important;
  height: 100%;
}

.dewFormat .dew-text-container .dew-headline-container {
  position: absolute;
  overflow: hidden;
  width: 1200px;
  height: 190px;
  font-weight: 400;
  left: 120px;
  bottom: 1700px;
  clear: both;
}

.dewFormat .dew-text-container .dew-copy-container {
  position: absolute;
  width: 1200px;
  height: 150px;
  font-weight: 400;
  left: 120px;
  top: 220px;
  font-size: 40px;
  clear: both;
}

.dew-headline-container h2 {
  position: absolute;
  font-size: 100px;
  margin-top: 500px;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 400;
}

.dewFormat .dew-text-container p {
  position: absolute;
  margin-top: 20px;
  font-size: 38px;
  font-weight: 400;
  opacity: 0;
}

.dew-text-container .image-footer {
  margin-top: 0px;
  position: absolute;
  bottom: 190px;
  right: 50px;
}

.dew-text-container img.social-icons {
  max-width: 180px;
  clear: both;
  float: right;
  opacity: 0;
}

.dew-text-container .dew-goarmy-container {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 36px;
  margin-bottom: 20px;
  clear: both;
  float: right;
}

.dew-text-container img.goarmy {
  margin-top: 500px;
  max-width: 270px;
  position: relative;
  float: right;
}

.dew-text-container p span {
  color: #ffd530 !important;
}

/* Background video */

video.dew-bg {
  position: absolute;
  top: 600px;
  z-index: 0;
  opacity: 0;
}

/* Dew Image Slideshow */

/* initial slide hiding */
.owl-carousel .owl-item img.dew-thumb-1,
.owl-carousel .owl-item img.dew-thumb-2,
.owl-carousel .owl-item img.dew-thumb-3 {
  opacity: 0;
  position: absolute;
}

.owl-carousel .owl-item img.dew-thumb-1 {
  top: -70px;
  right: 0px;
  height: 400px;
  width: 329px;
}

.owl-carousel .owl-item img.dew-thumb-2 {
  top: 325px;
  right: 0px;
  height: 355px;
  width: 412px;
  z-index: 2;
}

.owl-carousel .owl-item img.dew-thumb-3 {
  height: 476px;
  width: 622px;
  bottom: 0px;
  left: -30px;
  z-index: 11;
}

.dew-slideshow-container {
  position: absolute;
  display: block;
  z-index: 1;
}

.dew-slideshow-container img {
  position: absolute;
  top: 0;
  left: 0;
}

/* One-off slides */

.highlights-disclaimer h2 {
  font-size: 70px;
}

.promo-standard h3,
.highlights-disclaimer h3 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 80px;
  margin-top: 80px;
}

.highlights-disclaimer ul {
  list-style-image: url('../img/star.png');
  text-transform: none;
  font-weight: 400;
}

.highlights-disclaimer ul li:before {
  color: transparent;
  content: "";
}

.promo-standard h2 {
  font-size: 74px;
}

.promo-standard p span {
  color: #ffd530 !important;
}

.promo-standard div.image-footer {
  display: none;
}

.promo-standard img.secondary-image {
  float: right;
  max-width: 350px;
  margin-top: 40px;
}

/* Astronauts - KB
-----------------------------------------------------------------*/

.astroFormat {
  background-color: #000;
  width:1080px;
  height:1920px;
}

/*Shapes Styling*/

/*Top Half */
.astroFormat .astro-shapes-container {
  height: 1920px;
  width: 1080px;

}
.astroFormat .astro_top_image {
  width:1080px;
  height:936px;
  margin:0px;
  padding:0px;
  position: relative;
}

.astroFormat .astro_top_image img {
  height:100%;
  max-width: 2300px;
  width:auto;
}
.astroFormat .scrolling_img1 {
  position:relative;
  z-index: 9;
  opacity: 0;
}

.astroFormat .scrolling_img2 {
  position: relative;
  z-index: 8;
  opacity: 0;
  top:-936px;
  left:-200px;
}

.astroFormat .astro_tab_container {
  position: absolute;
  width:100%;
  height:625px;
  top:0px;
  z-index: 99;
  opacity:0;

}

.astroFormat .astro_tab {
  left:55px;
  top:-205px;
  width:735px;
  height:825px;
  border-radius: 75px;
  background-color: black;
  position: relative;
}

/*Bottom Half*/
.astroFormat .astro_video_box {
  width: 100%;
  height: 702px;
  top: 916px;
  position: absolute;
  z-index: 12;
  opacity: 0;
}

.astroFormat .anim-box {
  position: absolute;
  width: 100%;
  height: 702px;
}

.astroFormat .yellow_border1 {
  background-color: #ffd530;
  width:1080px;
  height:17px;
  top:7px;
  position: relative;
  z-index: 12;
}

.astroFormat .yellow_border2 {
  background-color: #ffd530;
  width: 1080px;
  height: 17px;
  top: -720px;
  position: relative;
  z-index: 12;

}

.astroFormat .yellow-bar {
  background-color: #ffd530;
  width: 2880px;
  height: 235px;
  position: relative;
  z-index: 12;
  top: -710px;
  /*left:-2080px;*/
  opacity: 1;
}

.astroFormat .astrobkgd {
  width: 1080px;
  height: 702px;
  /*top:-916px;
  position: relative;
  z-index: 11;*/
  position: relative;
  z-index: 0;
  opacity: 0;
}

.video-js, .vjs-tech {
    position: relative !important;
    width: 1080px !important;
    height: auto !important;
}


/*Container Styling*/

.astroFormat .astro-text-container {
  position: absolute;
  background: transparent;
  z-index: 999;
  left: 0;
  top: 4%;
  padding: 40px;
  width: 96% !important;
  height: 100%;
  opacity: 0;
}

.astroFormat .astro-text-container .astro-headline-container {
  position: absolute;
  overflow: hidden;
  width: 1200px;
  height: 250px;
  font-weight: 400;
  left: 120px;
  bottom: 1640px;
  clear: both;
}

.astroFormat .astro-text-container .astro-copy-container {
  position: absolute;
  width: 1200px;
  height: 150px;
  font-weight: 400;
  left: 120px;
  top: 270px;
  font-size: 40px;
  clear: both;
}

.astroFormat .astro-headline-container h2 {
  position: absolute;
  font-size: 78px;
  margin-top: 15px;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 400;
}

.astroFormat .astro-text-container p {
  position: absolute;
  margin-top: 20px;
  font-size: 38px;
  font-weight: 400;
}

.astroFormat .astro-text-container strong {
  font-weight: 400;
}

.astroFormat .astro-text-container .image-footer {
  margin-top: 0px;
  position: absolute;
  bottom: 150px;
  left: 50px;
  width: 96%;
  height: 100px;
}

.astroFormat .astro-text-container .astro-cta {
  margin-top: 30px;
  width: 700px;
  height: 45px;
  position: relative;
  font-size: 40px;
  float: left;
  opacity: 1;
  overflow: hidden;
  color: #ffd530;
}

.astroFormat .cta_text {
  bottom: -200px;
  position: relative;
}

.astroFormat h6 {
  font-size: 40px;
}

.astroFormat .astro-text-container img.social-icons {
  max-width: 260px;
  float: right;
  opacity: 1;
  margin-top: 20px;

}

/*.astroFormat .astro-text-container .dew-goarmy-container {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 36px;
  margin-bottom: 20px;
  clear: both;
  float: left;
}*/

.astroFormat .astro-text-container img#astro_goarmy {
  margin-top: 15px;
  max-width: 270px;
  position: relative;
  float:right;
  bottom:-200px;
}

.astroFormat .astro-text-container p span {
  color: #ffd530 !important;
}